// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

// @import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free/scss/regular.scss";
// @import "~@fortawesome/fontawesome-free/scss/brands.scss";
// @import "~@fortawesome/fontawesome-free/scss/solid.scss";
// @import "~@fortawesome/fontawesome-free/scss/v4-shims.scss";

.el-menu-item i[class^=fa] {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
}


// Element CSS correction
.el-card {
    border: none;
}

.el-checkbox.is-bordered {
    width: 100%;
}

.el-form-item {
    width: 100%;
    margin-bottom: 10px;
}

.el-form--label-top .el-form-item__label {
    min-height: 25px;
}

.el-form-item__label {
    line-height: 15px;
}

.el-input-number {
    width: 100%;
}

.el-input--suffix .el-input__inner {
    padding-right: 15px
}

.el-select {
    width: 100%;
}

.el-tabs--top .el-tabs__content {
    height: calc(100% - 55px);
    overflow: auto;
}

.el-tabs--bottom .el-tabs__content {
    height: calc(100% - 55px);
    overflow: auto;
}

.el-tabs--left .el-tabs__content {
    height: 100%;
    overflow: auto;
}

.el-tabs--right .el-tabs__content {
    height: 100%;
    overflow: auto;
}


// SIre CSS helper
.si-flex-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
}

.si-flex-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: 100%;
}

.si-fill {
    height: 100%;
}

.si-full {
    height: 100%;
    width: 100%;
}

.si-hidden {
    display: none;
}